<div id="<%= dom_id coupon %>">
  <p>
    <strong>Product:</strong>
    <%= coupon.product_id %>
  </p>

  <p>
    <strong>Coupon type:</strong>
    <%= coupon.coupon_type %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= coupon.value %>
  </p>

  <p>
    <strong>Expiration:</strong>
    <%= coupon.expiration %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= coupon.status %>
  </p>

</div>
