<div id="<%= dom_id coupon_product %>">
  <p>
    <strong>Promo:</strong>
    <%= coupon_product.promo_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= coupon_product.product_id %>
  </p>

  <p>
    <strong>Coupon type:</strong>
    <%= coupon_product.coupon_type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= coupon_product.status %>
  </p>

</div>
