<div id="<%= dom_id product %>">
  <p>
    <strong>Organization:</strong>
    <%= product.organization_id %>
  </p>

  <p>
    <strong>Product category:</strong>
    <%= product.product_category_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

</div>
