<!DOCTYPE html>
<html>
  <head>
    <title>Campinapolis Descontos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&amp;display=swap"
      rel="stylesheet"
    ></link>
    <link rel="icon" href="/img/icons/icon-72x72.png">
    <link rel="apple-touch-icon" href="/img/icons/icon-96x96.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/icons/icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/img/icons/icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/icon-180x180.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/brands.min.css">
    <link rel="stylesheet" href="/css/solid.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/style.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.passwordstrength.js"></script>
    <script src="/js/theme-switching.js"></script>
    <%= javascript_importmap_tags %>
  </head>
  <body data-controller="<%= params['controller'] %>">
    <%= yield %>
  </body>
  <!-- <script src="/js/no-internet.js"></script> -->
  <!-- <script src="/js/active.js"></script> -->
</html>
